<footer class="site-footer">

  <div class="container">
    <div class="copyright">
      <div class="eight columns">
        
        &copy; Purdue Waterski <script>document.write(new Date().getFullYear())</script>. </a>
        <br>
        Built and maintained by Aaron Neustedter. Based off of Luke Wright's beautiful UT Waterski site. 
      </div>
      <div class="four columns social-links">
        <div class="social-icon"><a href="https://www.instagram.com/purduewaterski/" target="_blank"><i class="fa fa-instagram"></i></a></div>
        <div class="social-icon"><a href="https://www.facebook.com/purduewaterskiing/" target="_blank"><i class="fa fa-facebook"></i></a></div>
        <!-- <div class="social-icon"><a href="mailto:utexaswaterski@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></div> -->
      </div>
    </div> 


  </div>

</footer>
