---
layout: default
---
<div class="home">
  <div class="page-head" style="background-image:url({{site.url}}/assets/images/home-head.jpg)">
    <div class="head-content">
      <h1>Purdue Waterski</h1>
      <h3>Purdue Collegiate Waterski and Wakeboard Team</h3>
    </div>
  </div>
  <div class="container">
    <div class="page-section">
      <h2>About Us</h2>
      <p>
	     Lorem Ipsum Modi reprehenderit dolores sint suscipit repellendus rem ex est. Aut quia aut dolores et quisquam. Est illo sed perferendis nobis non dolor perspiciatis. Repudiandae quia molestiae veritatis et aspernatur. Facere voluptatem quos repellendus sint aspernatur velit eum.
      </p>
      <div class="about-cta">
        <a href="/about" class="button button-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="full-image" style="background-image: url({{site.url}}/assets/images/slalom-cut.jpg)">
  </div>
  <div class="container">
    <div class="page-section sponsors">
      <h2>Sponsors</h2>
      <ul class="logos">
      {% for sponsor in site.data.sponsors %}
          <li>
              <a href="{{ sponsor.url }}" target="_blank">
                <img class="sponsor-image" src="/assets/images/sponsors/{{ sponsor.image }}">
              </a>
            </li>
      {% endfor %}
      </ul>
      <h2>Donors</h2>
      <ul>
        {% for donor in site.data.donors %}
        <li>{{ donor.name }}<li>
        {% endfor %}
      </ul>
      <div class="about-cta">
        <a href="/contact" class="button button-primary">Contact Us to Sponsor</a>
      </div>
    </div>
  </div>
</div>
